[submodule "foundry-smart-contract-lottery/lib/chainlink-brownie-contracts"]
	path = foundry-smart-contract-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-smart-contract-lottery/lib/forge-std"]
	path = foundry-smart-contract-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
