[submodule "foundry-smart-contract-lottery/lib/chainlink-brownie-contracts"]
	path = foundry-smart-contract-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
